/* CARDS */
.containerCard
{
    width: 380px;
    height: 450px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    


    font-family: "Quicksand";
}
.boxCard
{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); 
  overflow: hidden;
  margin: 1rem; 
  text-align: center;
  transition: all 0.25s;
  background-color: white;
}
.boxCard:hover
{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.imgCard
{
    width: 100%;
    height: 350px;
}
.boxCard h4
{
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}
.boxCard a
{
    text-decoration: none;
}


/* Modificar colores */
.learnMore {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   .learnMore.btnLearnMore {
    width: 11rem;
    height: auto;
    
   }
   
   .learnMore.btnLearnMore .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #fe8306;
    border-radius: 1.625rem;
   }
   
   .learnMore.btnLearnMore .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .learnMore.btnLearnMore .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.9rem;
    width: 1.125rem;
    height: 0.125rem;
    background: #fff;
   }
   
   .learnMore.btnLearnMore .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .learnMore.btnLearnMore .buttonText {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   .learnMore:hover .circle {
    width: 100%;
   }
   
   .learnMore:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .learnMore:hover .buttonText {
    color: #fff;

   }
   
   /* @supports (display: grid) {
    body {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 0.625rem;
     grid-template-areas: ". main main ." ". main main .";
    }
   
    #container {
     grid-area: main;
     align-self: center;
     justify-self: center;
    }
   } */