
    .navbar
    {
        width: 100%;
        height: auto;
        background-color: #fe8306;

        padding: 0.3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .navbar ul
    {
        list-style: none;
    }
    .navbarMain
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        margin-left: 1rem;
        margin-right: 1rem;
    }
    .navbarMain > li
    {
        position: relative;
        display: inline-block;
    } 
    .navbarMain > li > a
    {
        display: block;
        padding: 1rem 1rem;

        color: white;
        font-family: "Quicksand";
        font-size: 20px;
        text-decoration: none;
    }
    .navbarMain > li > a:hover
    {
        background-color: #ffffff;
        color: #fe8306;
        border-radius: 8px;
        transition: all .10s;
    }

    /* SubMenu */
    .subNavbarMain
    {
        position: absolute;
        background-color:#ffffff;
        width: auto;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s;

        display: flex;
        flex-direction: row;
    }
    .subNavbarMain li a 
    {
        display: block;
        padding: 0.5rem;
        color:  #fe8306;
        font-family: "Quicksand"; 
        font-size: 20px;
    }
    .subNavbarMain li a:hover
    {
        background-color: #fe8306;
        border-radius: 8px;
        transition: all .3s;
        color: #ffffff;
    }

    .navbarMain li:hover .subNavbarMain
    {
        visibility: visible;
        opacity: 1; 
    } 
    /* ICONS */
    .icons
    {
        font-size: 40px;
        color: #ffffff;
    }
    /* BOX DEL LOGO DE LA PAGINA */
    .boxLogo
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
    }
    .boxLogo > p
    {
        font-size: 25px;
        padding-left: 10px;
        font-family: "Quicksand"; 
        color: white;
    }
    .boxLogo > p.word
    {
        color: #6d6a75;
    }
    /* BOX DEL CART + COUNT */
    .boxCartWidget
    {
        display: flex;
        flex-direction: row; 
        align-items: center;
        padding-right: 10px;
    }
    .boxCartWidget label
    {
        padding: 5px 10px;
        margin-right: 10px;
        background: white;
        border-radius: 20px;
        font-family: "Quicksand"; 
        color: #000;
        font-weight: 600;

    }
    /* LINKS GENERAL */
    a
    {
        text-decoration: none;
    }