.containerDetail
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin: 2rem;
    padding: 2rem;

    font-family: "Quicksand";
}
.textDetailBox
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    background-color: white;
    width: 50%;

    padding-left: 1rem;
}
.textDetailBox h4
{
    font-size: 36px;
    text-align: center;
}
.textDetailBox p
{
    font-size: 20px;
}
.containerDetail img
{
    width: auto;
    height: auto;
}


/* Tablet */
@media all and (max-width: 920px) 
{
    .textDetailBox
    {
        width: 420px;
    } 
    .containerDetail img
    {       
        width: 420px; 
    }
}
/* Mobile */
@media all and (max-width: 525px) and (orientation:portrait)
{
    .textDetailBox
    {
        width: 300px;
    } 
    .containerDetail img
    {       
        width: 300px;
        height: auto; 
    }
    .textDetailBox p
    {
        padding: 2px;
    }
}
/* Little mobile */
@media all and (max-width: 420px)
{    .textDetailBox
    {
        width: 250px;
    } 
    .containerDetail img
    {       
        width: 250px;
        height: auto; 
    }
    .textDetailBox p
    {
        padding: 2px;
    }
}