.containerDetail
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin: 2rem;
    padding: 2rem;
    

    font-family: "Quicksand";
}
.textDetailBox
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    background-color: white;
    width: 500px;

    padding: 1.5rem;
}
.textDetailBox h4
{
    font-size: 36px;
    text-align: center;
}
.textDetailBox p
{
    font-size: 20px;
}
.textDetailBox > p > a 
{
    text-decoration: none;
    color: black;
}
.textDetailBox > p > a:hover
{
    color: #fe8306;
}
.containerDetail img
{
    width: 400px;
    height: auto;
} 


/* Tablet */
@media all and (max-width: 1024px)
{
    .containerDetail
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        margin: 2rem;
        padding: 2rem;

        font-family: "Quicksand";
    }
    .containerDetail img
    {
        width: 400px;
        height: auto;
    }
    .textDetailBox
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        background-color: white;
        width: 400px;

        padding-left: 1rem;
    }

}
/* Mobile */
@media all and (max-width: 480px)
{
    .containerDetail
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .containerDetail img
    {
        width: 250px;
        height: auto;
    }
    .textDetailBox
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        width: 250px;

        padding: 1rem;
    }
    .textDetailBox p
    {
        padding: 5px;
    }

}
