@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body
{
	background: #e6e6e6;
}
/* IMAGENES */
.imgBanner
{
    margin-right: 1rem;
}
/* ICONS */
.cartWidget
{
	padding-bottom: 0.5rem;
}
.cartWidget.white 
{
    color: white ;
   
}
.cartWidget.sizeL
{
    width: 80px;
    height: 40px;
}
.cartWidget.black
{
    color: black;
}
.cartWidget.sizeM
{
    width: 45px;
    height: 50px;
}

/* ---------------------------------------------------------------------------------------------- */

/* NAVBAR */
.navbar
{
    width: 100%;
    height: auto;
    background-color: #600707;
}
.navbar ul
{
    list-style: none;
}
.boxNavbar
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-left: 1rem;
    margin-right: 1rem;
}
.navbarMain > li
{
    position: relative;
    display: inline-block;
}
.navbarMain > li > a
{
    display: block;
    padding: 1rem 1.5rem;

    color: white;
    font-family: "Quicksand";
    text-decoration: none;
}
.navbarMain > li > a:hover
{
    background-color: #9b2424;
    border-radius: 8px;
    transition: all .3s;
}

/* SubMenu */
.subNavbarMain
{
    position: absolute;
    background-color: #bfbfbf;
    width: 105%;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.subNavbarMain li a 
{
    display: block;
    padding: 0.5rem;
    color: #600707;
    font-family: "Quicksand";
    text-decoration: none;   
}
.subNavbarMain li a:hover
{
    background-color: #979797;
    border-radius: 8px;
    transition: all .3s;
}

.navbarMain li:hover .subNavbarMain
{
    visibility: visible;
    opacity: 1;
}
.boxCartWidget
{
    display: flex;
}

/* BOTONES */
.buttonCartW
{ 
    width: 40px;
    height: 30px;
    
    text-align: center;
    border-radius: 6px;
    background-color: #992121;;
    border: none;
}
.buttonCartW:hover
{
    width: 43px;
    height: 33px;
    transition: all .3s;
}
.btnSimbol
{
   color: white;
   text-align: center;
   font-size: 20px;
   font-weight: 700;
}

/* ---------------------------------------------------------------------------------------------- */

/* CARTDWIDGET SUMAR-RESTAR */
.containerButtonCw
{
    margin-top: 2rem;

    font-family: "Quicksand";

    display: flex;
    flex-direction: column;
    align-items: center;

}
.buttonCartWidgetBox
{
    margin-top:0.8rem;
    padding: 0.2rem 0.5rem;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    align-content: space-around;
}
.countBox
{
    margin-left: 0.8rem;
    margin-right: 0.8rem;

    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

/* ---------------------------------------------------------------------------------------------- */


/* TITULOS HN° */
.titleH1
{
    font-family: "Quicksand";
    font-weight: 800;
    font-size: 50px;
	
	color:black;

    text-align: center;
    margin-top: 2rem;
}
.titleH3
{
    font-family: "Quicksand";
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color:black;
}
.titleH4
{
    font-family: "Quicksand";
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color:black;
}

/* ---------------------------------------------------------------------------------------------- */

/* BANNER */
.containerDbaner
{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.containerDbaner  img
{
    height: 90vh;
    width: auto;
}
.textBox
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
    justify-content: center;

    margin: 1rem;
}
.text
{
    font-family: "Quicksand";
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    color:black;
}
